// Colors

$color-white: #ffffff;
$color-black: #000000;

$color-very-light-gray: #e8e8e8;
$color-pure-blue: #006af4;
$color-light-blue: #367ee0;
$color-very-dark-gray: #2a2a2a;
$color-solitude: #e9ebf0;
$color-granny-smith-apple: #9be198;
$color-fern: #6fc76c;
$color-dim-gray: #737373;
$color-vista-blue: #91d6ac;
$color-white-smoke: #f8f8f8;
$color-dark-gray: #a5a5a5;
$color-manatee: #8f939f;
$color-periwinkle: #cdcfde;

// Typography

$ff-primary: "Montserrat", "Arial", sans-serif;
$ff-secondary: "Manrope", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$tr-3: ease-in 0.3s;
$tr-1: ease-in 0.3s;
