@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.blog-post {
  margin: 150px 0 120px;

  &__title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    font-family: $ff-primary;
    text-align: center;
    margin: 0 0 88px;
    position: relative;

    @include vp-1023 {
      font-size: 38px;
      line-height: 48px;
    }

    @media (max-width: 450px) {
      font-size: 32px;
      line-height: 42px;
    }

    &-icon {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-60%);

      @include vp-1023 {
        width: 200px;
      }
    }
  }

  &__subtitle {
    font-size: 28px;
    line-height: 38px;
  }

  &__paragraph {
    font-size: 18px;
    line-height: 28px;
  }
  &__list {
    &-item {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
