@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.nav {
  background-color: $color-white;
  padding: 20px 30px;
  border-radius: 42px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 880px) {
    padding: 10px 20px;
  }

  @media (max-width: 780px) {
    display: none;
  }

  &--mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0;
    height: 100%;
    transition: right $tr-3;
    padding: 20px;

    @media (max-width: 780px) {
      display: block;
    }

    .nav__list {
      flex-direction: column;
      margin: 50px 0 40px;
      gap: 40px;
    }
    .nav__item:not(:first-child)::before {
      content: "";
    }
  }

  &--hidden {
    right: -200px;
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (max-width: 880px) {
      gap: 20px;
    }
  }

  &__item {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    position: relative;

    &:not(:first-child)::before {
      content: "/";
      position: absolute;
      top: 50%;
      left: -25px;
      transform: translateY(-50%);
      color: rgb(221, 221, 221);
      font-size: 28px;
      font-weight: 200;

      @media (max-width: 880px) {
        left: -12.5px;
      }
    }
  }

  &__link {
    transition: border $tr-1;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: $color-very-dark-gray;

    &:hover {
      border-bottom: 2px solid $color-pure-blue;
    }
  }
}
