@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__link {
    color: $color-very-light-gray;
  }
}
